body {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
}

.hidden {
    display: none !important;
}

.first,
.league-table tr:nth-child(1) .position {
    background-color: #ffd700;
    box-shadow: 1px 1px 1px black;
}
.second,
.league-table tr:nth-child(2) .position {
    background-color: #c0c0c0;
    box-shadow: 1px 1px 1px black;
}
.third,
.league-table tr:nth-child(3) .position {
    color: #ffffff;
    background-color: #744705;
    box-shadow: 1px 1px 1px black;
}

.btn {
    text-transform: uppercase;
    min-width: 60px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(to right bottom, #eeeeee, #ffffff);
    filter: drop-shadow(1px 1px 1px #000000);
    font-family: 'Varela Round', sans-serif;
    text-shadow: 1px 1px 1px grey;
    vertical-align: middle;
}

.btn-sm {
    width: 35px;
    min-width: 35px;
}

.btn-active {
    filter: drop-shadow(2px 2px 2px #ffff00);
}

.btn-success {
    background: linear-gradient(to right bottom, #eeeeee, #00bb00);
}

.btn-alert {
    background: linear-gradient(to right bottom, #eeeeee, #ddaa00);
}

.btn-danger {
    background: linear-gradient(to right bottom, #eeeeee, #ff0000);
}

#logo {
    color: white;
    text-shadow: 1px 1px 1px black;
}

input[type="text"], input[type="number"], select {
    display: inline-flex;
    vertical-align: middle;
    height: 40px;
    margin-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}

.added-teams, .league-revenge, .cup-revenge, .add-teams-tip {
    font-size: 20px;
}

.league-revenge, .cup-revenge {
    margin-top: 20px;
}

#adding-teams, #add-result, #tour-settings {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(168, 196, 219);
    filter: drop-shadow(1px 1px 1px black);
}

.host-goals, .guest-goals {
    width: 50px;
}

.ready-teams, .add-result {
    margin-left: 10px;
}

#backup {
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(96, 162, 216);
    filter: drop-shadow(1px 1px 1px black);
}
#backup > * {
    margin: 5px;
}

#league-view {
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}

.table {
    display: inline-flex;
    margin-top: 20px;
    filter: drop-shadow(1px 1px 1px black);
}

th, td  {
    padding: 15px;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #b7b2b2;
}

.league-fixtures, .league-table {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(226, 232, 238);
}

.league-fixtures {
    width: 100%;
    margin-right: 25px;
}

.league-table {
    width: 100%;
    margin-left: 25px;
}

table, th, td {
    border-spacing: 5px;
 }
 .league-fixtures th:nth-child(1) {
    background-color: none;
 }

th {
     background-color: #b8c9f5;
 }

 .delete-team > div {
     background: red;
     width: 50%;
     text-align: center;
     border-radius: 5px;
     margin-left: 25%;
     cursor: pointer;
 }

 .adding-result {
    text-align: center;
 }

 .adding-result > .host {
     margin-right: 5px;
 }

 .adding-result > .guest {
    margin-left: 5px; 
}

.active {
    color: yellow;
}

.fast-goals-module {
    margin-top: 20px;
}

.hiding-something {
    color: blue;
}

.add-teams-tip {
    margin-top: 20px;
}

.goto-btns {
    margin-top: 15px;
    margin-left: 20px;
}

.ad {
    display: inline-block;
}

@media (min-width: 750px) and (max-width: 1200px) {
    .league-table th:not(:first-child):not(:nth-child(2)):not(:nth-child(3)),
    .league-table td:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
        display: none;
    }

    .league-table {
        margin-left: 5px;
    }
    .league-fixtures {
        margin-left: calc(100%-25px);
    }

    #league-view .table:nth(1) {
        width: 30%;
    }

    #league-view .table:nth(2) {
        width: 65%;
    }

    .table {
        margin-top: 0;
    }
}

@media (max-width: 749px) {
    #backup > * {
        margin: 0;
    }

    .ready-teams {
        margin-left: 5px;
        margin-right: 0;
    }
    .add-result {
        margin-left: 0;
        margin-right: 0;
    }

    .team-name, .tour-name {
        max-width: 36%;
    }

    .tour-name {
        max-width: 34%;
        margin-right: 0;
    }

    #tour-type {
        margin-top: 10px;
    }

    .fast-goals {
        margin-bottom: 5px;
    }

    .league-table {
        display: none;
    }

    .league-fixtures th:not(:first-child):not(:nth-child(2)):not(:nth-child(3)),
    .league-fixtures td:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
        display: none;
    }

    .league-fixtures {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .table {
        margin-top: 0;
    }

    #league-view .table:nth-child(1) {
        width: 100%;
    }

    #league-view .table:nth-child(2) {
        width: 100%;
    }
}

@media (max-width: 570px) {
    .auto-save-backup,
    .clear-backup {
        display: none;
    }
}

@media (max-width: 350px) {
    .load-backup {
        display: none;
    }
}

@media (max-width: 1200px) {
    .goto-btns {
        margin-bottom: 10px;
    }
}