body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.first,
.league-table tr:nth-child(1) .position {
    background-color: #ffd700;
}
.second,
.league-table tr:nth-child(2) .position {
    background-color: #c0c0c0;
}
.third,
.league-table tr:nth-child(3) .position {
    color: #ffffff;
    background-color: #744705;
}